# JWT Setup
JWT_SECRET=meu_segredo

# Email Config (optional for sendgrid/smtp)
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=password
MAIL_FROM_NAME="App"
MAIL_FROM_ADDRESS=noreply@example.com

# Admin Account setup
MAIL_ADMIN=admin@example.com
PASSWORD_ADMIN=admin123

# Database Connection
DATABASE_URL=postgres://user:password@host:port/database

# Pluggy Open Finance Integration
PLUGGY_CLIENT_ID=
PLUGGY_CLIENT_SECRET=
PLUGGY_API_KEY=
